---
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    <ClientRouter /> 
  </head>
  <body class="flex flex-col md:flex-row min-h-screen overflow-x-hidden">
    <slot />
  </body>
</html>